.wrapper {
    padding: 0px 20px;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
}

@media (min-width: 425px) {
    .wrapper {
        padding: 0px 30px;
    }
}
