.wrapper {
    background-color: #000900;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 10px;
}

.header a {
    text-decoration: none;
    padding: 0px;
}

.header span {
    color: #fff;
    font-size: 1.25rem;
}

.header span:last-child {
    color: var(--color-pink);
}

.icon {
    margin: 0px;
    padding: 0px;
}

.links button {
    background-color: #181c18;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    text-align: left;
}

.links a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.links a:hover {
    color: var(--color-black);
    background-color: var(--color-pink);
}

.links .active {
    color: var(--color-pink);
}

@media screen and (min-width: 375px) {
    .header {
        padding-left: 30px;
        padding-right: 20px;
    }
}
